{% extends 'users/main.html' %}
{% load static %}

{% block content %}
    <div class="container" >
        <div class="emo-card">
            <h4 class="h"></h4>
            <a href="{% url 'image' %}" class="btn btn-emo" style="margin-top: 20%;">Emotion Based Playlist</a>
        </div>
    </div>
    <script>
        var options = {
                strings: ["After silence,","that which comes nearest to expressing the inexpressible...", "is MUSIC !!!","After silence, that which comes nearest to expressing the inexpressible...is MUSIC !!!"],
                typeSpeed: 80
            };
            var typed = new Typed('.h', options);
    </script>
{% endblock %}
        
    