<nav>
    <ul>
        <li><a href="{% url 'users-home' %}"><i class="fa fa-music"></i></a></li>
        <li><a href="{% url 'users-songs' %}">MySongs</a></li>
        <li><a href="{% url 'users-playlists' %}">MyPlaylists</a></li>
        <li><a href="{% url 'user-profile' %}" style="font-variant: normal;">{{user.username}}</a></li>
        {% if user.is_authenticated %}
        <li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <a><button class="navbutton" type="submit">Logout</button></a>
            </form>
        </li>
        {% endif %}
    </ul>
</nav>